@font-face {
	font-family: 'Source Sans Pro - Regular';
	src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Bold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Semibold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Light';
	src: url(../fonts/source-sans-pro/SourceSansPro-Light.otf);
	font-style: normal;
}

* {
	margin: 0;
}

body {
	color: white;
}

header {
	display: flex;
	position: absolute;
	justify-content: space-between;
	width: 100%;
	margin-top: 50px;
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-right: 150px;
}

header nav a {
	font-family: 'Source Sans Pro - Bold';
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: white;
}

.website-logo {
	margin-left: 150px;
}

.first-section {
	background-image: url(../img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 250px;
}

.main-title {
	font-size: 120px;
	font-family: 'Source Sans Pro - Bold';
}

.first-section div h2 {
	text-align: center;
	font-family: 'Source Sans Pro - Light';
	font-size: 32px;
}


.under-banner {
	word-spacing: 50px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro - Bold';
	font-size: 16px;
}

.register-button {
	font-family: 'Source Sans Pro - Semibold';
	background-color: #C271FF;
	margin-top: 40px;
	margin-bottom: 75px;
	text-transform: uppercase;
	padding: 15px 35px 15px 35px;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.8);
	color: white;
}

.pros {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 150px;
	font-family: 'Source Sans Pro - Regular';
	width: 100%;
}

.testimonials {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: space-around;
	margin-left: 100px;
	margin-right: 100px;
}

.bold-purple-text {
	color: #C271FF;
	font-family: 'Source Sans Pro - Bold';
}

.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 160px;
}

.avatar img, .avatar h3, .avatar p {
	margin: 5px;
}

.avatar p {
	font-style: italic;
	text-align: center;
	font-size: 16px;
}

.quote-section {
	background-color: #C271FF;
}

.quote {
	display: flex;
	justify-content: center;
	padding: 100px 150px 100px 150px;
	align-items: center;
	font-size: 22px;
	font-family: 'Source Sans Pro - Light';
	line-height: 24pt;
}

.quote img {
	margin-right: 75px;
}

blockquote {
	padding-right: 50px;
	margin-bottom: 20px;
}

.person_name {
	font-family: 'Source Sans Pro - Bold';
}

.job {
	font-style: italic;
}

.tutorial-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 75px 150px 75px 150px;
	color: black;
}

.all-tutorials {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.tutorial-section h1 {
	margin-bottom: 75px;
	font-family: 'Source Sans Pro - Light';
	font-size: 32px;
}

.one-tutorial {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	width: 250px;
}

.author {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.author img {
	width: 30px;
	height: 30px;
	margin-right: 15px;
}

.author h3 {
	font-family: 'Source Sans Pro - Regular';
	color: #C271FF;
}

.one-tutorial .description {
	color: gray;
}

.one-tutorial .review {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	color: #C271FF;
}

.element {
	margin-bottom: 20px;
}

.membership-section {
	background-color: #071629;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.membership-section h1 {
	margin-top: 75px;
	font-family: 'Source Sans Pro - Light';
	font-size: 32px;
}

.membership {
	display: flex;
	flex-direction: row;
	padding: 75px 200px 0px 200px;
}

.membership-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	justify-content: space-between;
}

.membership-item p {
	text-align: center;
	font-family: 'Source Sans Pro - Regular';
	font-size: 14px;
}

.membership-item h2 {
	font-family: 'Source Sans Pro - Semibold';
	font-size: 18px;
}

.faq-section h1 {
	margin: 75px 0 75px 0;
	font-family: 'Source Sans Pro - Light';
	text-transform: uppercase;
	color: black;
	font-size: 60px;
	text-align: center;
}

.faq-div {
	color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0px 200px 0px 200px;
	justify-content: space-between;
}

.faq-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 75px;
}

.faq-item {
	margin: 0 75px;
}

.faq-item h2 {
	font-family: 'Source Sans Pro - Bold';
	font-size: 16px;
	margin-bottom: 20px;
}

.faq-item {
	margin: 0 50px;
	width: 25%;
}

.faq-item p {
	font-family: 'Source Sans Pro - Regular';
	font-size: 14px;
	color: gray;
	line-height: 1.5;
}
