@font-face {
	font-family: 'Source Sans Pro - Regular';
	src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Bold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Semibold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Light';
	src: url(../fonts/source-sans-pro/SourceSansPro-Light.otf);
	font-style: normal;
}

* {
	margin: 0;
	color: white;
}

header {
	display: flex;
	position: absolute;
	justify-content: space-between;
	width: 100%;
	margin-top: 50px;
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-right: 150px;
}

header nav a {
	font-family: 'Source Sans Pro - Bold';
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

.website-logo {
	margin-left: 150px;
}

.first-section {
	background-image: url(../img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 250px;
}

.main-title {
	font-size: 120px;
	font-family: 'Source Sans Pro - Bold';
}

.first-section div h2 {
	text-align: center;
	font-family: 'Source Sans Pro - Light';
	font-size: 32px;
}


.under-banner {
	word-spacing: 50px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro - Bold';
	font-size: 16px;
}

.first-section div button {
	font-family: 'Source Sans Pro - Semibold';
	background-color: #C271FF;
	margin-top: 40px;
	text-transform: uppercase;
	padding: 15px 35px 15px 35px;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.8);
}

.pros {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 150px;
	font-family: 'Source Sans Pro - Regular';
	width: 100%;
}

.testimonials {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
}

.bold-purple-text {
	color: #C271FF;
	font-family: 'Source Sans Pro - Bold';
}

.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 160px;
}

.avatar img, .avatar h3, .avatar p {
	margin: 5px;
}

.avatar p {
	font-style: italic;
	text-align: center;
	font-size: 16px;
}
