@font-face {
	font-family: 'Source Sans Pro - Regular';
	src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Bold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Semibold';
	src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro - Light';
	src: url(../fonts/source-sans-pro/SourceSansPro-Light.otf);
	font-weight: normal;
	font-style: normal;
}
